[submodule "qcom-caf/audio"]
	path = qcom-caf/audio
	url = git@github.com:ederevx/hardware_qcom_audio.git
[submodule "qcom-caf/display"]
	path = qcom-caf/display
	url = git@github.com:ederevx/hardware_qcom_display.git
[submodule "qcom-caf/media"]
	path = qcom-caf/media
	url = git@github.com:ederevx/hardware_qcom_media.git
